.movie-details,
.watchedmovies-list {
  list-style: none;
  padding: 0.5rem;
  overflow: auto;
  max-height: 500px !important;
}

.movie-details::-webkit-scrollbar,
.watchedmovies-list::-webkit-scrollbar {
  appearance: none;
  width: 6px;
}
.movie-details::-webkit-scrollbar-thumb,
.watchedmovies-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.566);
  border-radius: 1rem;
}
.movie-details::-webkit-scrollbar-thumb:hover,
.watchedmovies-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.747);
}
.movie-details {
  margin-bottom: 1rem;
}
